<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>834717052999-qvj99qr7r0h9pveo4vr9qjlf1ffhc1ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834717052999-qvj99qr7r0h9pveo4vr9qjlf1ffhc1ig</string>
	<key>API_KEY</key>
	<string>AIzaSyAKPEkk0GXIOMtW15GzY6IZ7OEVo2CvaD0</string>
	<key>GCM_SENDER_ID</key>
	<string>834717052999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JDK</string>
	<key>PROJECT_ID</key>
	<string>android-ios-test</string>
	<key>STORAGE_BUCKET</key>
	<string>android-ios-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:834717052999:ios:97ed1556d160e210</string>
	<key>DATABASE_URL</key>
	<string>https://android-ios-test.firebaseio.com</string>
</dict>
</plist>